.features {
  padding-top: 94px;
}
.features-list {
  display: flex;
}
.features-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features-text {
  color: var(--secondary-text-color);

  line-height: 1.71;
}

.features-subtitle {
  margin-bottom: 10px;

  @include font(700, 14px, 1.14);
  text-transform: uppercase;
}

.features-bg {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
